/*
----------------------------------------
Tantek Celik's Whitepsace Reset
     Author:    Tantek Celik, Shane Riley
    Version:    (CC) 2010 Some Rights Reserved - http://creativecommons.org/licenses/by/2.0
Description:  Resets default styling of common browsers to a common base
----------------------------------------
*/

ul,ol { list-style: none; }
h1,h2,h3,h4,h5,h6,pre,code { font-size: 1em;}
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input,dl,dt,dd, figure, figcaption {
  margin: 0;
  padding: 0; }
a img,:link img,:visited img, fieldset { border: none; }
address { font-style: normal; }
header, section, article, nav, footer, hgroup, details, summary, figure, main {
  display: block;}
mark {
  color: inherit;
  background: transparent; }
abbr { border: none; }
summary::-webkit-details-marker { display: none; }


body * {
    position: absolute;
    display: block;
    height: 50px;
    width: 50px;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    color: black;
    box-shadow: inset 0px 0px 8px -1px rgba(0,0,0,0.30);
}

article {
    margin-top: 10px;
    margin-left: 10px;
}

.child1x1, .child1x2, .child1x6, article {
    box-sizing: border-box;
    padding: 5px 0 0 5px;
}

.child1x1 {
    left: 50px;
    top: 0px;
}

.child1x2 {
    left: 50px;
    top: 50px;
}

.child1x6 {
    left: 50px;
    top: 250px;
}

.generation-color {
    background: #E0EAF1;
}
